@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
general-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topHeaderContainer {
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
}
/* .buttonSection {
  flex-direction: column;
  justify-content: flex-end;
} */
.headers {
  display: flex;
  justify-content: space-between;
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 0;
  height: 75px;
}

h1 {
  font-size: 1rem;
  color: rgb(212, 109, 49);
  max-width: max-content;
}
h2 {
  font-size: 3.5rem;
  padding-top: 0%;
  height: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.img {
  border-radius: 55px;
  width: 350px;
}
button {
  background-color: rgb(255, 95, 85);
  color: white;
  font-weight: 800;
  border-radius: 2px 20px 20px 20px;
  border-style: none;
  /* border-collapse: collapse; */
  width: 100px;
  /* height: 55px; */
}
